.host-hero{
    justify-content: space-around;
    background-color: #00559e;
    margin-top: 100px;
}

.host-hero-left{
    width: 40%;
    
}
.host-hero-right{
    margin: 10px    ;
}
.host-hero-title{
    font-size: 50px;
    color: white;
}
.host-hero-title-p{
    color: white;
    font-size: 20px;
}
.host-hro-btn{
    background-color: #c7ebff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.host-hro-btn:hover{
    background-color: #a9dcf7;
}